@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* Colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #ffffff;

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --text-size-preset-1: 22px;
  --text-size-preset-2: 15px;
  --text-line-height-preset-1: 120%;
  --text-line-height-preset-2: 140%;
  --text-letter-spacing-preset-1: 0px;
  --text-letter-spacing-preset-2: 0.2px;

  /* Spacing */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-300);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-300);
}

.container {
  text-align: center;
  width: 320px;
  height: 499px;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 256px;
  height: 52px;
  font-size: var(--text-size-preset-1);
  line-height: var(--text-line-height-preset-1);
  letter-spacing: var(--text-letter-spacing-preset-1);
  font-weight: var(--font-weight-bold);
}
